#content {
  width: 400px;
}

#table {
  width: 100px;
  margin-left: 8%;
  order: 2;
}

#links {
  order: 3;
}

#nav {
  flex-flow: column nowrap;
}

#header {
  flex-flow: column nowrap;
}

#form {
  order: 1;
  
}

@media screen and (min-width: 1080px) {
  #content {
    width: 800px;
  }
  
  #table {
    width: 500px;
    margin-left: 20%;
    order: 3;
  }
  
  #nav {
    flex-flow: row nowrap;
  }

  #header {
    flex-flow: row nowrap;
  }

  #links {
    order: 1;
  }

  #form {
    order: 1;
    margin-left: 20%;
    margin-right: 20%;
  }
}