.header {
  background-color: aqua;
  border-radius: 20px;
  margin: 0 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  
}


.header .logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1;
  order: 1;
}

.logo {
  margin-top: 2%;
  margin-bottom: 2%;
}

.logo span {
  border-radius: 20px;
  border: solid purple;
  font-size: 5rem;
  margin-right: 4%;
}

.logo h1 {
  min-width: 10%;
  font-size: 4rem;
}

.header .navbar {
  flex: 2;
  order: 2;
  background-color: cadetblue;
  width: 100%;
  border-radius: 20px;
}

.links li {
  text-decoration: none;
  list-style-type: none;
  font-size: 2rem;
}

.content_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: bisque;
  margin-top: 13%;
  margin-bottom: 5%;
  padding-bottom: 2%;
}

table tr:nth-child(even) {
background-color: aquamarine;
}

td {
  border: solid red;
  text-align: center;
}

#a {
  color: green;
}

#b {
  color: orange;
}

#c {
  color: blue;
}

#d {
  color: purple;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 1;
  background-color: aqua;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 7vh;
  margin-top: 1%;
  width: 100%;
}

.table {
  border: solid red;
  width: 50%;
  border-collapse: collapse;
}
.hyper {
  display: flex; flex-flow: column nowrap; justify-content: center; order: 2;
}



.form {
  display: flex; flex-flow: column nowrap; order: 3;
}

@media screen and (min-width: 1080px) {
  .header {
    flex-flow: row nowrap;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
  }

  .links {
    display: flex;
    flex-flow: row nowrap;
  }

  .form {
    order: 1;
  }

  .hyper {
    order: 2;
  }

  .table {
    order: 3;
    margin-top: 2%;
  }

  .header .navbar {
    flex: 2;
    order: 2;
    background-color: transparent;
    padding-left: 1%;
    padding-right: 7%;
    border-radius: 20px;
    position: relative;
  }

  .content_wrapper {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .logo {
    margin-top: 0;
    margin-left: 1%;
  }

  .logo span {
    font-size: 3rem;
  }

  .logo h1 {
    font-size: 3rem;
    min-width: fit-content;
  }

  .links li {
    margin-left: 4%;
    font-size: 18px;
  }
}
